/* Element Selectors: all tags change their styles  */
body{
    background-color: #F7ECDE;
    font-family: verdana;
    text-align: center;
    font-size: 1em;
}
h1{
    font-family: 'Sacramento';
    font-size: 5.5rem;
    color: #E9DAC1;
    margin: 0 auto 0 auto;
    line-height: 2;
}
h2 {
    font-family: 'Werriweather';
    font-size: 2rem;
    font-weight: normal;
    color: #11999E;
    padding: 10px;
}
h3 {
    font-family: 'Werriweather';
    color: #11999E
}
hr {
    width: 25%;
    border: dotted grey 6px;
    border-bottom: none;
}
p {
    line-height: 2;
}

/* Class Selectors - nav */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9ED2C6;
}
.nav_list {
    float: right;
}
.nav_list a {
    display: block; /* make the whole block clickable */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_list a:hover {
    background-color: #54BAB9;
}

/* top-container */
.top-container {
    background-color: #9ED2C6;
    text-align: center;
    position: relative;
    margin-top: 0;
}

/* middle-container */
.profile {
    width: 50%;
    margin: 20px auto 20px auto;
}
.computer {
    float:left;
    margin-right: 20px;
}
.skill-row {
    width: 50%;
    margin: 20px auto 20px auto;
    text-align: left;
}
.contact-me {
    width: 50%;
    margin: 20px auto 50px auto;
}
.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: verdana;
    color: #ffffff;
    font-size: 20px;
    background: #9ED2C6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 50px;
  }
  .btn:hover {
    background: #54BAB9;
    text-decoration: none;
  }
/* bottom-container */
.bottom-container {
    background-color: #9ED2C6;
    padding: 50px 0 50px;
}
.footer-link {
    margin: auto 6px;
}
.copyright{
    color: white;
}
